@import "mixins.scss";
@import "global/normalize.scss";
@import "global/fonts.scss";
@import "variables.scss";

@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/about.scss";
@import "blocks/team.scss";
@import "blocks/team-member.scss";
@import "blocks/socials.scss";
@import "blocks/portfolio.scss";
@import "blocks/services.scss";

body {
  font-family: $font-family-open_sans;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  color: $text-color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-signika;
}