@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}
