.header {
    display: flex;
    flex-direction: column;
}

.header__welcome {
    min-height: 100vh;
    font-family: $font-family-signika;
    color: $text-color-secondary;
    text-align: center;
    background-image: url(../img/bg-header.jpg);
    background-position: center;
    background-size: cover;

    @media (max-width: $breakpoint-tablet) {
        background-image: url(../img/bg-header--medium.jpg);
    }

    @media (max-width: $breakpoint-mobile) {
        background-image: url(../img/bg-header--small.jpg);
    }
}

.header__title {
    margin: 50px 10px;
    margin-top: calc(50vh - 0.5em);
    margin-bottom: 0.5em;
    font-size: 108px;
    font-weight: normal;

    @media (max-width: $breakpoint-desktop) {
        font-size: 90px;
    }

    @media (max-width: $breakpoint-tablet) {
        font-size: 76px;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 54px;
    }
}

.header__descriptor{
    margin: 0.2em 10px;
    font-size: 48px;
    font-weight: bold;

    @media (max-width: $breakpoint-tablet) {
        font-size: 32px;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 26px;
    }
}

.header__descriptor-2 {
    margin: 0.3em 10px 3em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: $breakpoint-tablet) {
        font-size: 14px;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 12px;
    }
}